*{
    box-sizing: border-box;
}

body{
    margin:0;
    overflow:hidden;
    font-size:14px;
}
.container{
    height:100vh;
    position:relative;
        
}
.title-bar{
    height: 5vh;
    background-color:#107c41;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;

}
.menu{
    height : 5vh;
    background-color:#118043;
    display:flex;

}
.menu-item{
    padding-left:10px;
    padding-right:10px;
    color:#fff;
    font-size:18px;
    display:flex;
    align-items:center;
}
.menu-item.selected{
    background-color: #fff;
    color:#107c41;
}
.menu-item:hover{
    color:rgb(199, 197, 197);
    cursor:pointer;
}
.menu-item.selected:hover{
    background-color: #fff;
    cursor:default;
}
.menu-icon-bar{
    height: 6vh;
    background-color:rgb(241, 241, 241);
    display:flex;
    align-items:center;
}
.menu-icon-item{
    padding-left:10px;
    padding-right:10px;
    height:100%; 
    display:flex;
    align-items:center;
}
.menu-icon-item:hover{
    background-color: rgb(183, 182, 182);
    cursor:pointer;
}
.selector{
    height:30px;
    font-size:18px;
}
.selector option{
    font-size:18px;
}
.formula-bar{
    height: 5vh;
    display:flex;
    align-items: center;
    padding-left:0.7rem;
    padding-right: 0.7rem;
    background-color:rgb(241, 241, 241);
}
.formula-editor {
    height:70%;
    border:1px solid lightgray;
    background-color:#fff;
    padding-left:0.7rem;
    padding-right: 0.7rem;
    display:flex;
    align-items: center;
}
.selected-cell{
    width:120px;
}
.function-sign{
    height: 16px;
    width:40px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.formula-input{
    width:calc(100vw - 160px);
    outline-color: #107c41;
}
.data-container{
    display:flex;
    flex-wrap: wrap;
}
.select-all{
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
}
.col-name-container{
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid lightgrey;
    display: flex;
    overflow:hidden;
}
.row-name-container{
    width: 30px;
    height: calc(75vh - 30px);
    border: 1px solid lightgrey;
    overflow:hidden;
}
.input-cell-container{
    width: calc(100vw - 30px);
    height: calc(75vh - 30px);
    border: 1px solid lightgrey;
    overflow: scroll;
}
.sheet-bar{
    height : 4vh;
    display:flex;
    align-items:center;
}
.icon-left-scroll, .icon-right-scroll{
    font-size:20px;
}
.icon-left-scroll:hover,.icon-right-scroll:hover{
    background-color:rgb(231, 230, 230);
    cursor:pointer;
}
.icon-add{
    color:#107c41;
    margin-left: 10px;
    margin-right: 10px;
    width:30px;
}
.icon-add:hover{
    cursor:pointer;
    transform: scale(1.1);
}
.sheet-tab-container{
    border:1px solid lightgray;
    width:calc(100vw - 110px);
    display:flex;
}
.sheet-tab{
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    width: 80px;
    align-items:center;
    justify-content: center;
    font-weight:600;
    border-right:1px solid lightgray;
}
.sheet-tab-selected{
    border-bottom: 4px solid #107c41;
}
.sheet-tab:hover{
    cursor: pointer;
    background-color: lightgray;
}
.column-name{
    min-width: 100px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-right:1px solid lightgray;
    font-weight:bold;
}
.row-name{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:25px;
    border-bottom:1px solid lightgray;
    font-weight:bold;
}
.row-cell{
    display:flex;
}
.input-cell{ 
    min-width:100px;
    min-height:25px;
    border-right:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
    outline-color: #107c41;
}
.input-cell.selected{
    border: 2px solid #107c41;
}
.menu-icon-item.selected{
    background-color: lightgray;
}